<h2>Create New Playlist</h2>

<%= render 'search' %>

<p>><%= link_to 'Back,', users_path %></p>

<p><%= link_to 'View Your Playlists' playlists_path %></p>
<p><%= link_to 'Create New Playlist' playlists_path %></p>
